.netrwhist
.vim/backups/*
!.vim/backups/.gitkeep
*.elc
.emacs.d/ac-comphist.dat
.emacs.d/elpa
.emacs.d/github-packages
.emacs.d/inits/*.elc
.emacs.d/auto-save-list
.emacs.d/eshell
.emacs.d/projectile-bookmarks.eld
.emacs.d/ido.last
.emacs.d/lisp/#*
.emacs.d/ido.last~
.emacs.d/projectile.cache
.DS_Store
