[user]
	name = Matthew Machuga
	email = machuga@gmail.com
[color]
    ui = auto
[alias]
    rbc    = rebase --continue
    rba    = rebase --abort
    st     = status
    ci     = commit
    co     = checkout
    di     = diff
    dc     = diff --cached
    amend  = commit --amend
    aa     = add --all
    ff     = merge --ff-only
    pullff = pull --ff-only
    noff   = merge --no-ff
    f      = fetch
    fa     = fetch --all
    pom    = push origin master
    b      = branch
    ds     = diff --stat=160,120
    dh1    = diff HEAD~1
    r      = rebase
    cp     = cherry-pick
    cpc    = cherry-pick --continue
    cpa    = cherry-pick --abort

    # Divergence (commits we added and commits remote added)
    div = divergence

    # Goodness (summary of diff lines added/removed/total)
    gn = goodness
    gnc = goodness --cached

    head   = !git l -1
    h      = !git head
    hp     = "!. ~/.githelpers && show_git_head"
    re  = !git l -30
    ra     = !git r --all
    l      = "!. ~/.githelpers && pretty_git_log"
    la     = !git l --all
    s      = status
    c      = commit -a
    bd     = branch -d
    co     = checkout
    cob    = checkout -b
    g      = grep --break --heading --line-number -i
    lg     = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
    ls     = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate
    ll     = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate --numstat
    lnc    = log --pretty=format:'%h %s [%cn]'
    lds    = log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --decorate --date=short
    ld     = log --pretty=format:'%C(yellow)%h %ad%Cred%d %Creset%s%Cblue [%cn]' --decorate --date=relative
    lb     = log --pretty=format:'%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]' --decorate --numstat
    le     = log --oneline --decorate
    shorts = config --get-regexp alias

    # Fancy logging.
    #   h = head
    #   hp = head with patch
    #   r = recent commits, only current branch
    #   ra = recent commits, all reachable refs
    #   l = all commits, only current branch
    #   la = all commits, all reachable refs

[merge]
    tool = vimdiff
[push]
	default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	excludesfile = /Users/machuga/.gitignore_global
    #pager = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
    pager = ~/homebrew/share/git-core/contrib/diff-highlight/diff-highlight | less
[init]
	templatedir = ~/.git_template
[color "diff-highlight"]
    oldNormal = red
    oldHighlight = red bold 52
    newNormal = green
    newHighlight = green bold 22
[color "diff"]
    commit = green
    meta = yellow
    frag = cyan
    old = red
    new = green
    whitespace = red reverse
